{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Каталог
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('category', {'slug': 'tv'}) }}">Телевизоры</a>
            <a class="dropdown-item" href="{{ path('category', {'slug': 'media'}) }}">Мультимедиа</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Категория 3</a>
        </div>
    </li>
{% endblock %}

