{% extends 'base.html.twig' %}

{% block title %}Категории товаров{% endblock %}

{% block body %}
    <h1>Категории товаров</h1>
    {% for category in categories %}
        <p>
            <a href = "{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
        </p>
    {% endfor %}

{% endblock %}
