{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <div class="col-md-6 col-lg-3">
        {% if category.image and vich_uploader_asset(category, 'image') %}
            <img src="{{ vich_uploader_asset(category, 'image') }}" class="card-img-top" alt="...">
        {% else %}
            <img src="//placehold.it/200x150" class="card-img-top" alt="...">
        {% endif %}
    </div>
    <br>

    <div class="row">
        {{ include('fragments/productsList.html.twig', {'products': category.products}) }}
    </div>
{% endblock %}
