
{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <h1>Корзина</h1>

    <div id="cartTable">
        {{ include('order/cartTable.html.twig', {'order': order}) }}
    </div>
{% endblock %}